/* This is the level 1 CSS file. If you include it in your portfolio, it'll provide some clean and basic styling */
/* for your page. Feel free to experiment with the values, or copy them into a new file and use that instead. */

/* These are comments in CSS. Comments don't do anything except explain your working to make code easier to understand. */

body { 
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  background-color: #C0C0C0;
  margin: 0 auto;
  max-width: 1000px;
  padding-top: 60px;
  text-align: center; /* Centers all inline and inline-block elements like text */
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  color: #333;
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  text-align: center; /* Ensures all headings are centered */
}

/* We want the headings to be a little bigger than the paragraph text */
.big { 
  font-size: 2.5em;
}

h2 {
  font-size: 1.75em;
}

.small {
  font-size: 1.25em;
}

/* Paragraph */
p {
  margin-bottom: 1em;
  font-weight: 300;
}

/* Section spacing */
section {
  margin-bottom: 2.5em;  
}

/* Links */
a {
  color: #065f46;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
  display: block; /* Ensures images are treated as block elements */
  margin: 0 auto; /* Centers images */
}
